footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li: a(href="https://www.kythera.gr/whattosee/villages.php") Χωριά στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/beaches.php") Παραλίες στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/museums.php") Μουσεία
                li: a(href="https://www.kythera.gr/whattosee/monuments.php") Μνημεία
                li: a(href="https://www.kythera.gr/whattosee/churches.php") Μοναστήρια & Ναοί
                li: a(href="https://www.kythera.gr/whattosee/caves.php") Σπήλαια στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/castles.php") Κάστρα στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/siteseeing.php") Αξιοθέατα

         div

            ul

                li: a(href="https://www.kythera.gr/whattosee/villages.php") Χωριά στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/beaches.php") Παραλίες στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/museums.php") Μουσεία
                li: a(href="https://www.kythera.gr/whattosee/monuments.php") Μνημεία
                li: a(href="https://www.kythera.gr/whattosee/churches.php") Μοναστήρια & Ναοί
                li: a(href="https://www.kythera.gr/whattosee/caves.php") Σπήλαια στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/castles.php") Κάστρα στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/siteseeing.php") Αξιοθέατα
        div

            ul

                li: a(href="https://www.kythera.gr/whattosee/villages.php") Χωριά στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/beaches.php") Παραλίες στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/museums.php") Μουσεία
                li: a(href="https://www.kythera.gr/whattosee/monuments.php") Μνημεία
                li: a(href="https://www.kythera.gr/whattosee/churches.php") Μοναστήρια & Ναοί
                li: a(href="https://www.kythera.gr/whattosee/caves.php") Σπήλαια στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/castles.php") Κάστρα στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/siteseeing.php") Αξιοθέατα
        div

            ul

                li: a(href="https://www.kythera.gr/whattosee/villages.php") Χωριά στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/beaches.php") Παραλίες στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/museums.php") Μουσεία
                li: a(href="https://www.kythera.gr/whattosee/monuments.php") Μνημεία
                li: a(href="https://www.kythera.gr/whattosee/churches.php") Μοναστήρια & Ναοί
                li: a(href="https://www.kythera.gr/whattosee/caves.php") Σπήλαια στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/castles.php") Κάστρα στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/siteseeing.php") Αξιοθέατα
        div

            ul

                li: a(href="https://www.kythera.gr/whattosee/villages.php") Χωριά στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/beaches.php") Παραλίες στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/museums.php") Μουσεία
                li: a(href="https://www.kythera.gr/whattosee/monuments.php") Μνημεία
                li: a(href="https://www.kythera.gr/whattosee/churches.php") Μοναστήρια & Ναοί
                li: a(href="https://www.kythera.gr/whattosee/caves.php") Σπήλαια στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/castles.php") Κάστρα στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/siteseeing.php") Αξιοθέατα
        div

            ul

                li: a(href="https://www.kythera.gr/whattosee/villages.php") Χωριά στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/beaches.php") Παραλίες στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/museums.php") Μουσεία
                li: a(href="https://www.kythera.gr/whattosee/monuments.php") Μνημεία
                li: a(href="https://www.kythera.gr/whattosee/churches.php") Μοναστήρια & Ναοί
                li: a(href="https://www.kythera.gr/whattosee/caves.php") Σπήλαια στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/castles.php") Κάστρα στα Κύθηρα
                li: a(href="https://www.kythera.gr/whattosee/siteseeing.php") Αξιοθέατα
