mixin header-1(url, icon, navigation, hook)
    header(class=hook ? "header-1 " + hook :  "header-1")

        div
            a(href="https://www.kythera.gr/")
             img(src="https://raw.githubusercontent.com/atamata/static-homepage/master/src/images/global/new-logo.jpg")
                    

            nav(id="navigation" role="navigation" itemscope itemtype="https://schema.org/SiteNavigationElement")

                button
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#header-1-nav-button")

                ul
                    for anchor in navigation

                        li
                            a(href=anchor.href)= anchor.name
