
section(class="canvas section-3" id="section-3")
<div class="container section">
<div class="row image-box style6">
<script data-react-helmet="true" type="application/ld+json">{"@context":"https://schema.org","@type":"FAQPage","mainEntity":[{"@type":"Question","name":"Πώς θα έρθω στα Κύθηρα;","acceptedAnswer":{"@type":"Answer","text":"Υπάρχουν πολλοί τρόποι να έρθεις στα Κυθηρα. Αεροπλάνο από Διεθνή Αερολιμένα Αθηνών ή πλοίο από τον Πειραιά. Επίσης οδικώς μέχρι Γύθειο και Νεάπολη Λακωνίας και από εκεί πάλι με πλοίο. Αν έρχεσαι από Κρήτη θα βρεις το πλοίο στο Καστέλι Κισσάμου του νομού Χανίων."}},{"@type":"Question","name":"Ποιές είναι οι καλύτερες παραλίες στα Κύθηρα;","acceptedAnswer":{"@type":"Answer","text":"Το Καλαδί είναι ίσως η πιο γνωστή παραλία όμως στο TOP 5 είναι το Μελιδόνι και ο Χαλκός που βρίσκονται Νότια καθώς και η Φυρρή Άμμος με την Κομπονάδα που έχουν Ανατολικό προσανατολισμό. Στα Κύθηρα θα βρείτε πολλές παραλίες και σίγουρα αξίζει να κάνετε μια βουτιά στην Κακία Λαγκάδα ή στη παραλία της Αγίας Πελαγίας καθώς και στο Καψάλι, στο Διακόφτι ή στον Αβλέμωνα. Αν ψάχνεται κάτι με λίγο κόσμο μπορείτε να δοκιμάσετε την παραλία στο Καλάμι, στον Λιμνιώνα ή την παραλία της Παλαιόπολης που είναι και η μεγαλύτερη στο νησί. Τέλος αν δεν φυσάει δυτικός απολαύστε το ηλιοβασίλεμα με μια βουτιά στην παραλία του Λυκοδήμου."}},{"@type":"Question","name":"Ποιά είναι τα κυριότερα αξιοθέατα στα Κύθηρα;","acceptedAnswer":{"@type":"Answer","text":"Ο Φάρος Μουδαρίου, η βραχονησίδα Χύτρα, οι Νερόμυλοι στον Μυλοπόταμο και ο Καταρράκτης της Νεράιδας είναι τα κυριότερα αξιοθέατα στα Κύθηρα."}}]}</script>
<ul itemtype="https://schema.org/FAQPage">
<li itemprop="mainEntity" itemtype="https://schema.org/Question">
<h3 itemprop="name">Πώς θα έρθω στα Κύθηρα;</h3>
<div itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
<div itemprop="text">
<p>Υπάρχουν πολλοί τρόποι να έρθεις στα Κυθηρα. <a href="../gettinghere/dromologia-aeroplanou.php">Αεροπλάνο</a> από Διεθνή Αερολιμένα Αθηνών ή πλοίο από τον <a href="../gettinghere/dromologia-kythira-ionis.php">Πειραιά</a>. Επίσης οδικώς μέχρι <a href="../gettinghere/dromologia-gythio-kythira.php">Γύθειο</a> και <a href="../gettinghere/porfyrousa.php">Νεάπολη</a> Λακωνίας και από εκεί πάλι με πλοίο. Αν έρχεσαι από Κρήτη θα βρεις το πλοίο στο <a href="../gettinghere/dromologia-kissamos-kythira.php">Καστέλι Κισσάμου</a> του νομού Χανίων.</p>
</div>
</div>
</li>
<li itemprop="mainEntity" itemtype="https://schema.org/Question">
<h3 itemprop="name">Ποιές είναι οι καλύτερες παραλίες στα Κύθηρα;</h3>
<div itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
<div itemprop="text">
<p>Το <a href="../whattosee/kaladi.php">Καλαδί</a> είναι ίσως η πιο γνωστή παραλία όμως στο <strong>TOP 5</strong> είναι το <a href="../whattosee/melidoni.php">Μελιδόνι</a> και ο <a href="../whattosee/chalkos.php">Χαλκός</a> που βρίσκονται Νότια καθώς και η <a href="../whattosee/furh_ammos_kalamos.php">Φυρρή Άμμο</a>ς με την <a href="../whattosee/komponada.php">Κομπονάδα</a> που έχουν Ανατολικό προσανατολισμό. Στα Κύθηρα θα βρείτε πολλές παραλίες και σίγουρα αξίζει να κάνετε μια βουτιά στην <a href="../whattosee/kakia_lagada_beach.php">Κακία Λαγκάδα</a> ή στη παραλία της <a href="../whattosee/agia_pelagia_beach.php">Αγίας Πελαγίας</a> καθώς και στο <a href="../whattosee/kapsali_beach.php">Καψάλι</a>, στο <a href="../whattosee/diakofti.php">Διακόφτι</a> ή στον <a href="../whattosee/avlemonas_beach.php">Αβλέμωνα</a>. Αν ψάχνεται κάτι με λίγο κόσμο μπορείτε να δοκιμάσετε την παραλία στο <a href="../whattosee/kalami.php">Καλάμι</a>, στον <a href="../whattosee/limnionas.php">Λιμνιώνα</a> ή την παραλία της <a href="../whattosee/palaiopoli.php">Παλαιόπολης</a> που είναι και η μεγαλύτερη στο νησί. Τέλος αν δεν φυσάει δυτικός απολαύστε το ηλιοβασίλεμα με μια βουτιά στην παραλία του <a href="../whattosee/lykodimou.php">Λυκοδήμου</a>.</p>
</div>
</div>
</li>
<li itemprop="mainEntity" itemtype="https://schema.org/Question">
<h3 itemprop="name">Ποιά είναι τα κυριότερα αξιοθέατα στα Κύθηρα;</h3>
<div itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
<div itemprop="text">
<p>Ο <a href="../whattosee/moudari_kythhra.php">Φάρος Μουδαρίου</a>, η βραχονησίδα <a href="../whattosee/xytra.php">Χύτρα</a>, οι <a href="../whattosee/neromyloi.php">Νερόμυλοι</a> στον Μυλοπόταμο και ο <a href="../whattosee/kataraktis-milopotamos.php">Καταρράκτης της Νεράιδας</a> είναι τα κυριότερα αξιοθέατα στα Κύθηρα.</p>
</div>
</div>
</li>
</ul>
</div>
<br>
</div>
    h2 Section 3

    div(class="content")

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Commodi
                p.
                    Lorem ipsum dolor sit amet, #[a(href="#") consectetur], adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Tempora
                p.
                    Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Autem
                p.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui #[em officia]
                    deserunt mollit anim id est laborum. At vero eos et accusamus et iusto odio
                    dignissimos ducimus.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Aliquid
                p.
                    Qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et
                    quas molestias excepturi sint #[a(href="#") #[i occaecati]] cupiditate non provident,
                    similique sunt.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Dolore
                p.
                    In culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et
                    harum quidem rerum facilis est et expedita distinctio.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Eligendi
                p.
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
                    minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.

    +nav-1("front", "prev")
