section(class="canvas section-1" id="section-1")

    h2 Section 1

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 Ταξιδιωτικός Οδηγός για τα Κύθηρα!

                p Τα Κύθηρα είναι ένα μοναδικό νησί από πολλές πλευρές. Μέσα από τις σελίδες του site μας προσπαθούμε να σας αποδείξουμε του λόγου το αληθές. Όπως και τα Κύθηρα έτσι και η ιστοσελίδα μας έχει πολλές πτυχές και κρυφές ομορφιές που καλείστε να ανακαλύψετε.

p Τα Χωριά των Κυθήρων, οι Παραλίες, τα Μουσεία, τα Μνημεία καθώς και τα Αξιοθέτα, τα Σπήλαια και τα Κάστρα των Κυθήρων είναι μπροστά στην οθόνη σας. Επιλέξτε από το μενού και ξεναγηθείτε εικονικά στα Κύθηρα για να ανακαλύψετε ότι πιο όμορφο έχει να επιδείξει η φύση.

p Μόλις σας πείσουμε να επισκεφτείτε το νησί της Αφροδίτης, στο site μας θα βρείτε τα καλύτερα καταλύματα (Ξενοδοχεία - Βίλες & Ενοικιαζόμενα Δωμάτια) στα Κύθηρα με ενημερωμένες φωτογραφίες, τιμές και προσφορές.

p Δείτε τα δρομολόγια για τα Κύθηρα τόσο για τα πλοία όσο και για τα αεροπλάνα.

p Κλείστε τα εισιτήρια για τα Κύθηρα σας μέσα από το kythera.gr εύκολα και γρήγορα.

p Τα Κυθηρα είναι εδώ...
p Ας ξεκινήσει το Ταξίδι στα Κύθηρα...


    +nav-1("section-2")
